[core]
	excludesfile = ~/.gitignore
	quotepath = off                 ; Do not quote unicode characters in paths in commands like `git status`
[pull]
	rebase = true
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[user]
	name = {{ .name }}
	email = {{ .email }}
[github]
	user = {{ .github_user }}
