{{ if eq (index (splitList "@" .email) 1) "zendesk.com" -}}

# Zendesk start --------------------------------------------------

export ARTIFACTORY_USERNAME={{ pass "ARTIFACTORY_USERNAME" }}
export ARTIFACTORY_API_KEY={{ pass "ARTIFACTORY_API_KEY" }}
export POETRY_HTTP_BASIC_ARTIFACTORY_USERNAME=$ARTIFACTORY_USERNAME
export POETRY_HTTP_BASIC_ARTIFACTORY_PASSWORD=$ARTIFACTORY_API_KEY
export SCOOTER_GITHUB_TOKEN={{ pass "GITHUB_API_TOKEN" }}
export SCOOTER_KUBERNETES_CONTEXT="scooter-euc1"
export ZENDESK_CODE_DIR=/Users/snich/Code/zendesk

export AI_GATEWAY_BASE={{ pass "AI_GATEWAY_BASE" }}
export AI_GATEWAY_KEY={{ pass "AI_GATEWAY_KEY" }}
export OPENAI_API_BASE=$AI_GATEWAY_BASE/v1
export OPENAI_API_KEY=$AI_GATEWAY_KEY
export AWS_BEDROCK_RUNTIME_ENDPOINT=$AI_GATEWAY_BASE/bedrock
export AWS_BEARER_TOKEN_BEDROCK=$AI_GATEWAY_KEY

export AIDER_USER_INPUT_COLOR=#8f0075
export AIDER_SHOW_MODEL_WARNINGS=false

if [[ -z $TMUX ]]; then
    export PATH=/usr/local/bin${PATH:+:${PATH}}
fi

# Zendesk end   --------------------------------------------------

{{ end -}}

{{ if eq .chezmoi.os "linux" -}}

if [[ -z $TMUX ]]; then
    export PATH=$HOME/.local/bin${PATH:+:${PATH}}

    export PATH=/opt/cuda/bin:/opt/cuda/nsight-compute${PATH:+:${PATH}}
    export LD_LIBRARY_PATH=/opt/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
    export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/cuda/extras/CUPTI/lib64
fi

alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
# alias pbcopy='xclip -selection clipboard'
# alias pbpaste='xclip -selection clipboard -o'
alias open='xdg-open'

{{ end -}}

alias vi=/opt/local/bin/nvim
