{{- if eq .chezmoi.os "darwin" -}}
{{-   include "private_dot_config/kitty/kitty.conf_darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include "private_dot_config/kitty/kitty.conf_linux" -}}
{{- end -}}
