# The color with which the screen is cleared before rendering the pdf
background_color    0.87 0.87 0.87
dark_mode_background_color    0.13 0.13 0.13

# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast			0.8

# If set, we open a new sioyek window when a new file is opened, otherwise we open the file in the previous window
should_launch_new_window				1

## Configure the appearance of page separator
page_separator_width 2
page_separator_color	0.87 0.87 0.87
